<h2 class="text-center display-2">Log In</h2>

<section class="row justify-content-center my-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-10 col-md-6 mx-auto">
      <div class="mb-3">
        <%= f.label :email, class:"form-label" %>
        <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class:"form-label" %><br />
        <%= f.password_field :password, class:"form-control", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check mb-3">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, "Remember me", class: "form-check-label" %>
        </div>
      <% end %>

      <div class="mt-5">
        <%= f.submit "Log in", class:"btn btn-primary" %>
      </div>
    
    </div>
  <% end %>
</section>

<section class="d-flex gap-3  justify-content-center">
  <%= render "devise/shared/links" %>
</section>
