<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <span style="font-size:x-small;"><%= "@#{current_user.email}" %></span>
  </div>

  <div class="mb-3">
    <%= form.label :title, class:"d-none" %>
    <%= form.text_area :title, class:"form-control", required:true %>
  </div>

  <div class="mb-3">
    <%= form.label :image, "Select your image" , class:"form-label" %>
    <%= form.file_field :image , class:"form-control", required:true%>
  </div>

  <div class="mb-5">
    <%= form.submit class:"btn btn-primary" %>
  </div>

<% end %>
