

<div class="col-12 col-md-4 mx-auto">
<div class="card text-white bg-primary" id="<%= dom_id post %>">
  <%= image_tag post.image , class:"card-img-top",alt:"Image not available" %>
  <div class="card-body">
    <h4 class="card-title"><%= post.title %></h4>
    <span class="card-subtitle"><%= "@#{post.user.email}" %></span>
  </div>
  <div class="card-footer">
    <small class="text-muted">Posted at: <%= post.created_at %></small>
    <%= link_to "Show", post , class:"btn btn-primary"%>
</div>
</div>