
  <div class="card text-dark bg-light mx-auto" id="<%= dom_id post %>">
  
    <%= image_tag post.image , class:"card-img-top img-fluid ",alt:"Image not available" %>
  
    <div class="card-body">
      <span style="font-size:x-small;"><%= "@#{post.user.email}" %></span>
      <p class="lead">
        <%= post.title %>
      </p>
    </div>
  
    <div class="card-footer">
      <small class="text-muted">Posted at: <%= post.created_at.strftime("%B, %d of %Y") %></small>
    </div>
  </div>
