<section class="row justify-content-center">
  <div class="col-12 col-md-4 my-3">
    <%= render @post, like_count: @like_count%>
  </div>
</section>

<section class="row justify-content-center">
  <div class="col-12 col-md-4 my-3">
    <div class="d-flex justify-content-center">
      <% if current_user && current_user.liked_posts.include?(@post) %>
        <%= render "likes/destroy", post: @post, like_count: @like_count%>
      <% else %>
        <%= render "likes/create", post: @post, like_count: @like_count %>
      <%end%>
    </div>
  </div>
</section>

<section class="row justify-content-center">
  <h2 class="text-center">Add a comment</h2>
  <div class="col-12 col-md-4 my-3">
    <%= form_with(model: [ @post, Comment.new ], local: true) do |form| %>
      <div class="mb-3">
        <%= form.label :content, class:"form-label d-none" %>
        <%= form.text_area :content, class:"form-control" %>
      </div>
      <div class="mb-5">
        <%= form.submit 'Add Comment', class:"btn btn-primary" %>
      </div>
    <% end %>  
  </div>
</section>

<section class="container justify-content-center">
  <h2 class="text-center">More Comments</h2>
  <div class="col-12 col-md-4 my-3 mx-auto">
    <ul class="list-group">  
    <% @post.comments.each do |comment| %>
      <li class="list-group-item d-flex flex-column">
        <strong><%= comment.user ? comment.user.email : 'Anonymous' %>:</strong>
        <span><%= comment.content %> </span>
      </li>
    <% end %>
    </ul>
  </div>
</section>


